$base-color: rgba(240,240,240,1);
$panel-header-color: rgba(119,119,119,1);
$panel-tool-background-image: 'tools/tool-sprites-dark';
$grid-row-cell-over-background-color: rgba(238,247,254,1);
$grid-row-cell-selected-background-color: rgba(213,238,255,1);
$border-layout-ct-background-color: rgba(228,228,228,1);
$button-default-color: rgba(105,105,105,1);
$tab-base-color: rgba(224,224,224,1);
$tab-base-color-active: rgba(213,238,255,1);
$tab-color: rgba(119,119,119,1);
$tab-color-active: rgba(0,123,191,1);
$base-highlight-color: rgba(213,238,255,1);