$base-color: rgba(240,240,240,1);
$panel-header-color: rgba(119,119,119,1);
$panel-tool-background-image: 'tools/tool-sprites-dark';
$grid-row-cell-over-background-color: rgba(236,241,246,1);
$grid-row-cell-selected-background-color: rgba(215,227,234,1);
$button-default-color: rgba(104,104,104,1); // colour of text/icons on the buttons
$tab-base-color: rgba(224,224,224,1);
$tab-base-color-active: rgba(167,167,167,1);
$tab-color: rgba(119,119,119,1);
$tab-color-active: rgba(255,255,255,1);
$base-highlight-color: rgba(250,250,250,1); // button colour